.landing-page {
    background-color: #F4EAD5;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcomeimage {
    width: 250px;
    height: 250px;
}