#btnbalance{
    background-color: #DAE2B6;
    border-color: #DAE2B6;
    height: 100%;
    width: 100%;
    color: black;
}

#btnexpense{
    background-color: #DAE2B6;
    border-color: #DAE2B6;
    height: 100%;
    width: 100%;
    color: black;
}
#btnmission {
    background-color: #DAE2B6;
    border-color: #DAE2B6;
    height: 100%;
    width: 100%;
    color: black;
}

.alerta {
    background-color: #BCE29E;
}